@{
    ViewData["Title"] = "Login";
}

<style>

</style>

<div class="container">
    <div class="row rounded" style="background-color:#e8e5e5; padding:20px">
        <h2 class="mt-5 mb-5 font-weight-bold">CloudMovies</h2>
        <b>CloudMovies helps you find movies you will like. Rate movies to build a profile, then we recommend other movies for you to watch.</b>
    </div>
    <div class="row mt-5">
        <div class="col-5 rounded" style="background-color:#e8e5e5; padding:20px">
            <h5>Login</h5>
            <form action="/Movies/Index">
                <div class="form-group">
                    <label>User ID</label>
                    <input class="form-control" name="userId">
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>